@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --afc-text-color: #000000;
    --afc-overlay-color: #eee;
    --afc-background-color: #ffffff;

    --afc-primary-color: hotpink;
    --afc-secondary-color: #2d3748;
}
h1, h2, h3, h4, h5, h6 {
  
}
/* 
 * Colors
 */
body {
    color: var(--afc-text-color);
    background-color: var(--afc-background-color);
}
body.dark {
    --afc-text-color: #ffffff;
    --afc-overlay-color: #333333;
    --afc-background-color: #000000;
}
/* 
 * Typography
 */
body[dir="rtl"] {
    direction: rtl;
    text-align: right;
}

body[dir="ltr"] {
    direction: ltr;
    text-align: left;
}
